@charset "UTF-8";

@media screen and (max-width: 768px) {

    .inicio-primeiro, .inicio-terceiro-botao {
        display: none;
    }

    .inicio {
        margin: 0px;
    }

    /* Menu */

    #menu {
        display: block;
    }

    #menu:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    
    #mobile {
        background-color: #dfecfa ;
        text-align: center;
    }

    #mobile ul {
        padding: 5px;
    }

    #mobile ul li {
        font-size: large;
    }

    #mobile ul li a {
        color: black;
        text-decoration: none;
    }

    /* primeiro */

    .primeiro-h1 {
        font-size: 28px;
    }

    .primeiro-p {
        font-size: 16px;
    }

    .primeiro-img img {
        width: 300px;
    }

    /* segundo */

    .segundo .flex {
        flex-direction: column;
    }

    .segundo-primeiro-h2 {
        text-align: center;
    }

    .segundo-primeiro-p {
        text-align: center;
        font-size: 13px;
        
    }

    section.segundo .button  {
        text-align: center;
    }

    /* terceiro */

    .terceiro .flex {
        flex-direction: column-reverse;
    }

    .terceiro-primeiro-h2  {
        text-align: center;
    }
    
    .segundo-primeiro-p {
        text-align: center;
        font-size: 13px;
    }

    .terceiro .button {
        text-align: center;
    }

    /* quarto */

    .quarto .flex {
        flex-direction: column;
    }

    .quarto-primeiro-h2 {
        text-align: center;
    }
    
    .quarto-primeiro-p {
        text-align: center;
        font-size: 13px;
    }
    
    .quarto .button {
        text-align: center;
    }
    
    /* quinto */

    .quinto {
        padding-bottom: 10px;
    }

    .quinto-h2 {
        font-size: 28px;
    }

    .quinto-img img {
        width: 300px;
    }

    /* final */

    section.final {
        margin: 0px;
        padding: 0px;
        padding: 40px 4%;
    }

    .final .flex {
        flex-direction: column;
        justify-content: flex-start;
    }

    .final-img img {
        width: 150px;
    }

    .final-img-2 img {
        width: 340px;
    }

    .lgs {
        padding-top: 50px;
    }
}